<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymleaf.org"
  th:replace="base :: Layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Page</title>
  </head>
  <body>
    <section>
      <div class="container">
        <h1>Add Product</h1>
        <form
          action="#"
          th:action="@{/product/add}"
          th:object="${product}"
          method="post"
        >
          <div class="form-group">
            <label for="id">ID:</label>
            <input
              type="text"
              class="form-control"
              id="id"
              th:field="*{id}"
              placeholder="Enter product ID"
              required
            />

            <label for="name">Name:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              th:field="*{name}"
              placeholder="Enter product name"
              required
            />
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input
              type="number"
              class="form-control"
              id="price"
              th:field="*{price}"
              placeholder="Enter product price"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
      </div>
    </section>
  </body>
</html>
